#shape{
    width: 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
}

p {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: red;
}

h1{
    font-size: 35px;
    text-align: center;
}

body{
    background-color: rgb(255, 249, 240);
    font-family: 'Poppins', sans-serif;
}
